/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PT-Sans"),
    url("../fonts/PTSans.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/PTSans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"), local("PT-Sans"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/PTSans-Bold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

:root {
  --background-page: #f2f2f2;
  --base-color: #ffffff;
  --base-color-0-3: rgba(255, 255, 255, 0.3);
  --second-color: #81b3d2;
  --second-color-hover: #669ec0;
  --second-color-active: #5496bd;
  --btn-color: #766357;
  --btn-color-hover: #604e43;
  --btn-color-active: #503e33;
  --base-text-color: #000000;
  --second-text-color: #333333;
  --base-text-color-0-3: rgba(0, 0, 0, 0.3);
}

.page-body {
  background: var(--background-page);
  height: 100%;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header {
  min-height: 56px;
  background: var(--base-color);
}

.main-nav {
  position: relative;
}

.main-nav__list {
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav__list-item:nth-child(1) {
  padding-left: 72px;
}

.main-nav__list-item:nth-child(3) {
  justify-self: end;
}

.main-nav__list-item:nth-child(4) {
  justify-self: end;
  padding-right: 72px;
}

.main-nav__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-text-color);
}

.main-nav__text:hover {
  color: var(--second-color);
}

.main-nav__text:active {
  opacity: 0.3;
}

.main-nav__list-logo {
  position: relative;
  width: 111px;
  margin: 0 auto;
}

.header-logo {
  position: absolute;
  top: 0px;
  left: -13px;
  z-index: 1;
}

.main-banner {
  height: 509px;
  background-image: url(../img/background-photo.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-banner::before {
  position: absolute;
  content: " ";
  bottom: 0;
  background-image: url(../img/Shape.png);
  width: 100%;
  height: 57px;
}

.main-slogan {
  height: 190px;
  background: var(--base-color);
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.main-slogan-box {
  max-width: 570px;
  text-align: center;
}

.main-slogan-head {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin-bottom: 43px;
}

.main-slogan-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages-tile {
  min-height: 256px;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.advantages-tile--content {
  text-align: center;
  background: var(--second-color);
  padding-top: 27px;
  padding-bottom: 25px;
  padding-left: 48px;
  padding-right: 48px;
}

.advantages-tile--head {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  margin-bottom: 27px;
}

.advantages-tile--number,
.advantages-tile--text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  margin-bottom: 24px;
}

.advantages-tile--pic {
  background-image: url(../img/image.jpg);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--base-color);
  padding-top: 55px;
  padding-bottom: 68px;
}

.advantages-list-item {
  text-align: center;
  padding: 0px 55px;
}

.advantages-list-item:not(:last-child) {
  padding-top: 5px;
}

.advantages-item-head {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin-bottom: 28px;
}

.advantages-item-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages-tile__inverse {
  grid-template-columns: 1fr 400px;
}

.advantages-tile__inverse--pic {
  background-image: url(../img/image-2.jpg);
}

.advantages-number-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--background-page);
  padding-top: 25px;
  padding-bottom: 41px;
}

.advantages-number-list__item {
  text-align: center;
  padding-left: 72px;
  padding-right: 70px;
}

.advantages-number-head {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin-bottom: 27px;
}

.advantages-number-number {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.advantages-number-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-top: 23px;
}

.search-content {
  text-align: center;
  background-color: var(--base-color);
  padding-top: 31px;
  position: relative;
}

.search-content-box {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.search-content-head {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin-bottom: 32px;
}

.search-content-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-color);
  cursor: pointer;
}

.btn-button {
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  border: none;
}

.btn-search {
  width: 568px;
  height: 86px;
  background-color: var(--btn-color);
}

.btn-search:hover {
  background-color: var(--btn-color-hover);
}

.btn-search:active {
  background-color: var(--btn-color-active);
}

.search-popup {
  width: 568px;
  min-height: 340px;
  padding-top: 55px;
  margin: 0 auto;
  background-color: var(--base-color);
  position: absolute;
  left: 316px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.popup-calendar-line {
  margin: 0;
}

.calendar {
  background-color: var(--background-page);
  border: none;
  margin-bottom: 29px;
  height: 36px;
  width: 333px;
  padding-left: 13px;
  margin-left: 20px;
}

.calendar:hover {
  background-color: #ebebeb;
}

.calendar:focus {
  background-color: var(--base-color);
  outline: 2px solid #ebebeb;
}

.calendar-wr {
  position: relative;
}

.calendar-icon {
  position: absolute;
  width: 21px;
  height: 23px;
  right: 9px;
  top: -3px;
  cursor: pointer;
  background-image: url(../img/calendar.svg);
}

.calendar-icon:hover {
  background-image: url(../img/calendar-hover.svg);
}

.calendar-icon:active {
  background-image: url(../img/calendar-active.svg);
}

.btn-popup {
  width: 458px;
  height: 58px;
  background-color: var(--second-color);
}

.btn-popup:hover {
  background-color: var(--second-color-hover);
}

.btn-popup:active {
  background-color: var(--second-color-active);
}

.search-popup-number {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 55px;
  width: 459px;
}

.popup-number-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.popup-number-line:nth-child(1) {
  width: 227px;
}

.popup-number-line:nth-child(2) {
  width: 179px;
}

.btn-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-value {
  height: 38px;
  width: 38px;
  background-color: var(--background-page);
  border: none;
  padding: 0;
  text-align: center;
}

.search-popup-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-text-color);
}

.btn-number {
  height: 38px;
  width: 38px;
  border: none;
  background-color: var(--background-page);
}

.btn-minus {
  position: relative;
}

.btn-minus::before {
  position: absolute;
  content: " ";
  width: 12px;
  height: 3px;
  left: 13px;
  background-color: #a9a9a9;
}

.btn-minus:hover::before {
  background-color: var(--base-text-color);
}

.btn-minus:active::before {
  background-color: var(--second-color);
}

.btn-plus {
  position: relative;
}

.btn-plus::after {
  position: absolute;
  content: " ";
  width: 12px;
  height: 3px;
  left: 13px;
  background-color: #a9a9a9;
}

.btn-plus:hover::after {
  background-color: var(--base-text-color);
}

.btn-plus:active::after {
  background-color: var(--second-color);
}

.btn-plus::before {
  position: absolute;
  content: " ";
  width: 12px;
  height: 3px;
  left: 13px;
  background-color: #a9a9a9;
  transform: rotate(-90deg);
}

.btn-plus:hover::before {
  background-color: var(--base-text-color);
}

.btn-plus:active::before {
  background-color: var(--second-color);
}

.map {
  width: 100%;
  height: 473px;
  background-image: url(../img/map.jpg);
}

.main-footer {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-left: 125px;
  padding-right: 137px;
}

.communication-block {
  text-align: center;
  position: relative;
  justify-content: center;
  top: -7px;
}

.communication-hashtag,
.communication-tel {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin: 0;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 440px;
  padding-right: 12px;
}

.socials-item {
  width: 48px;
  height: 48px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials-item:hover {
  background-color: var(--second-color-hover);
}

.socials-item:active {
  background-color: var(--second-color-active);
}

.socials-item:not(:last-child) {
  margin-right: 6px;
}

.html-academy-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.html-academy-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--base-text-color);
  margin-right: 9px;
}

.html-academy-icon {
  width: 115px;
  height: 41px;
  background-image: url(../img/logo-htmlacademy.svg);
}

.html-academy-icon:hover {
  background-image: url(../img/logo-htmlacademy-hover.svg);
}

.html-academy-icon:active {
  background-image: url(../img/logo-htmlacademy-active.svg);
}

/*catalog*/

.main-catalog {
  background-color: var(--base-color);
}

.sorting {
  min-height: 217px;
  background-image: url(../img/background.jpg);
}

.sorting-wr {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 72px;
}

.sorting-item {
  display: flex;
}

.filter-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset-checkbox {
  margin-right: 118px;
}

.sorting-header--legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
}

.checkbox-style {
  display: none;
}

.checkbox__box {
  padding-top: 3px;
}

.checkbox-style + label {
  display: block;
  margin-top: 24px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.checkbox-style + label::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--base-color);
  border-radius: 3px;
}

.checkbox-style:checked + label::after {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.svg);
  width: 26px;
  height: 23px;
  left: 0;
  top: 0;
}

.checkbox-style:checked + label::before {
  border: none;
}

.sorting-checkbox--text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
}

.range-filter__price {
  position: relative;
  display: flex;
  align-items: center;
  width: 317px;
  height: 36px;
  border: 2px solid var(--base-color);
  box-sizing: border-box;
  border-radius: 2px;
}

.range-filter__price::before {
  position: absolute;
  content: " ";
  width: 2px;
  height: 22px;
  background-color: var(--base-color);
  left: 50%;
}

.range-filter__price--text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  margin-left: 64px;
}

.min-price,
.max-price {
  width: 61px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  background-color: initial;
  border: none;
}

.range-filter {
  text-align: center;
  padding-top: 12px;
}

.range-filter__controls {
  position: relative;
  height: 55px;
  padding-left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.range-filter__scale {
  margin-top: 20px;
  height: 2px;
  background-color: var(--base-color-0-3);
}

.range-filter__bar {
  height: 2px;
  background-color: var(--base-color);
  width: 83%;
}

.range-filter__controls .toggle {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--base-color);
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px #ababab;
}

.range-filter__controls .toggle_min {
  left: 0;
}

.range-filter__controls .toggle_max {
  left: 251px;
}

.btn-filter {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  position: relative;
  left: -6px;
}

.hotels-sorting {
  display: flex;
  align-items: center;
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-right: 73px;
}

.filter-block-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--base-text-color);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.sorting-list {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 48px;
}

.sorting-list-text {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--base-text-color);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-condition {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--base-text-color-0-3);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--second-color);
  margin-left: 36px;
  text-transform: uppercase;
}

.chosen {
  color: var(--second-color);
  border: none;
}

.sorting-condition:hover {
  color: var(--second-color);
}

.sorting-condition:active {
  color: var(--base-text-color);
  border-bottom: none;
}

.sorting-buttons {
  flex-grow: 1;
  text-align: end;
}

.sorting-buttons-item {
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  position: relative;
  top: 5px;
}

.sorting-buttons-up {
  background-image: url(../img/icon-up-dir.svg);
  margin-right: 8px;
}

.sorting-buttons-up:hover {
  background-image: url(../img/icon-up-dir-hover.svg);
}

.sorting-buttons-up:active {
  background-image: url(../img/icon-up-dir-active.svg);
}

.sorting-buttons-down {
  background-image: url(../img/icon-down-dir-active.svg);
}

.sorting-buttons-down:hover {
  background-image: url(../img/icon-down-dir-hover.svg);
}

.sorting-buttons-down:active {
  background-image: url(../img/icon-down-dir-active.svg);
}

.sorting-arrow-up {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  margin-right: 10px;
  fill: var(--very-special-grey);
}

.sorting-arrow-down {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  fill: var(--very-special-grey);
}

.active {
  fill: var(--basic-blue);
}

.sorting-arrow-up:hover {
  fill: var(--basic-black);
}

.sorting-arrow-up:active {
  fill: var(--basic-blue);
}

.sorting-arrow-down:hover {
  fill: var(--basic-black);
}

.sorting-arrow-down:active {
  fill: var(--basic-blue);
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-item {
  line-height: 21px;
  max-height: 150px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-info {
  margin-left: 29px;
  margin-right: auto;
  margin-top: -8px;
}

.hotels-title {
  margin: 0;
}

.hotels-title-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--base-text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hotels-type {
  margin-top: 5px;
}

.hotels-type-text {
  display: inline-block;
  vertical-align: baseline;
  min-width: 112px;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--second-text-color);
  text-transform: uppercase;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
}

.stars-box {
  margin-bottom: 35px;
  margin-top: -2px;
  align-self: flex-end;
}

.stars {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  min-height: 26px;
  width: 17px;
  margin-left: 3px;
  display: inline-block;
  vertical-align: baseline;
}

.hotels-number {
  display: inline-block;
  vertical-align: baseline;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  background-color: var(--background-page);
  text-align: center;
  width: 110px;
  height: 27px;
  margin: 0;
}

.hotels-title:hover {
  color: var(--basic-blue);
}

.hotels-title:active {
  color: var(--basic-grey);
}

.btn-details {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  padding: 4px 17px;
  background-color: var(--second-color);
  border: none;
  color: var(--base-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.btn-details:hover {
  background-color: var(--second-color-hover);
}

.btn-details:active {
  background-color: var(--second-color-active);
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  margin-left: 4px;
  padding: 4px 17px;
  background-color: var(--btn-color);
  border: none;
  color: var(--base-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.btn-booking:hover {
  background-color: var(--btn-color-hover);
}

.btn-booking:active {
  background-color: var(--btn-color-active);
  color: rgba(255, 255, 255, 0.3);
}
